venv/
.env
__pycache__/
*.py[cod]
*.log
.ipynb_checkpoints/
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
Thumbs.db
Desktop.ini
.coverage
*.coveragerc
*.py,cover
*.egg
*.egg-info/
dist/
build/
*.test
test_output/
